* {
  margin: 0;
  padding: 0; }

body {
  background-color: whitesmoke; }

.menu {
  justify-content: flex-end; }
  .menu .contacto {
    margin-right: 2rem; }

.conteiner {
  display: flex;
  justify-content: space-evenly;
  margin-top: 6rem; }
  .conteiner .guitarra {
    width: 25%;
    padding: 1rem;
    background-color: #f6f6f6;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .conteiner .guitarra button {
      margin-top: 2rem;
      padding: 0.5rem;
      border-radius: 10%;
      font-weight: bold;
      color: brown; }

.ir-carrito {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
  margin-bottom: 10rem; }
  .ir-carrito a {
    font-size: 40px;
    font-weight: bold;
    color: brown;
    text-decoration: none; }

.carrito {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .carrito h1 {
    text-align: center;
    font-weight: bold;
    color: #c9422a;
    margin-top: 5rem; }
  .carrito .botones {
    display: flex;
    justify-content: center;
    margin-top: 4rem; }
    .carrito .botones button {
      margin: 1rem;
      padding: 0.5rem;
      font-weight: bold;
      border-radius: 5%; }
  .carrito .gtr-carrito {
    margin-top: 4rem; }
  .carrito .volver-inicio {
    margin-top: 4rem; }
    .carrito .volver-inicio a {
      text-decoration: none;
      font-size: 30px;
      font-weight: bold;
      color: brown; }
