
main{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.title{
    text-align: center;

    margin-top: 3rem;
    font-weight: bold;
    color:  #0072BF; 
    
}

.conteiner{
    display: flex;
    justify-content: space-evenly;
    margin-top: 6rem;


        @include mobile{
            flex-direction: column;
            align-items: center;
        }
        


    .guitarra{

        width: 25%;
        padding: 1rem;
        background-color: rgb(246, 246, 246);
        border-radius: 5%;

        display: flex;
        flex-direction: column;
        align-items: center;


        @include mobile{
            width: 80%;
            margin-bottom: 1rem;
        }

        h3{
            margin: 2rem;
            font-size: 25px;

            @include tablet{

                font-size: 15px;
            }
        }

        .img-gtr{
            display: flex;
            justify-content: center;
            width: 100%;

            img{
                max-width: 100%; 
                height: auto; 

            }
        }

        button{
            margin-top: 1rem;
            padding: 0.5rem;
            border-radius: 10%;
            font-size: 20px;
            font-weight: bold;
            color:  #0072BF; 

            &:hover{
                background-color: #3b7d1a;
                color: whitesmoke;
                transition: 300ms;
            }
        }

        .btn-info{
            color: black;
            font-size: 10px;
            margin-bottom: 2rem;
            margin-top: 2rem;

            &:hover{
                background-color: #0072BF;
                color: whitesmoke;
                transition: 300ms;
            }
        }

    }


}

.ir-carrito{

    display: flex;
    justify-content: center;
    margin-top: 6rem;
    margin-bottom: 10rem;
    
    a{
        font-size: 30px;
        font-weight: bold;
        color:  #0072BF ;
        text-decoration: none;

        &:hover{
            color: crimson;
            transition: 200ms;
        }

        
    }

    div{
        display: flex;
        flex-direction: column;
        align-items: center;

    
        .img-carrito{

            .car{
                display: flex;
                justify-content: center;

                img{
                    width: 15%;
                }

            }


        }
}
}



//Main Carrito

.carrito{

    display: flex;
    flex-direction: column;
    align-items: center;



    h1{
        text-align: center;
        font-weight: bold;
        color: #0072BF  ;
        margin-top: 5rem;
    }



    .botones{
        display: flex;
        justify-content: center;


        button{
            margin: 1rem;
            padding: 0.5rem;
            font-weight: bold;
            border-radius: 5%;

            &:hover{
                background-color: #0072BF;
                color: whitesmoke;
                transition: 300ms;
            }

            
        }
    }

    .compra-final{

        margin-top: 4rem;
        button{
            width: 80%;
            margin: 1rem;
            padding: 0.5rem;
            font-weight: bold;
            border-radius: 5%;
            
            &:hover{
                background-color: #3b7d1a;
                color: whitesmoke;
                transition: 300ms;
            }
        }

    }


    .gtr-carrito{

        margin-top: 4rem;

    }

    .volver-inicio{
        margin-top: 4rem;

        a{
            text-decoration: none;
            font-size: 30px;
            font-weight: bold;
            color:  #0072BF;

            &:hover{
                color: crimson;
                transition: 200ms;
            }

        }
    }

}


